In [19]:
import pandas as pd

In [20]:
df = pd.read_csv('../CSV_Cleaned/ingresos_x_provincia_x_periodo.csv')

In [21]:
df

     anio_tri     provincia  ingresos (en miles de pesos)
0       20141  Buenos Aires                  4.306381e+05
1       20142  Buenos Aires                  4.762600e+05
2       20143  Buenos Aires                  5.220678e+05
3       20144  Buenos Aires                  5.859800e+05
4       20151  Buenos Aires                  7.269387e+05
..        ...           ...                           ...
883     20221       Tucumán                  1.213402e+07
884     20222       Tucumán                  1.361051e+07
885     20223       Tucumán                  1.214849e+07
886     20224       Tucumán                  1.415089e+07
887     20231       Tucumán                  1.608647e+07

[888 rows x 3 columns]

In [22]:

# Obtener valores únicos de la columna "provincia"
provincias_unicas = df['provincia'].unique()

In [23]:
# Crear un nuevo dataframe con las provincias únicas
df_provincias = pd.DataFrame(provincias_unicas, columns=['provincia'])

In [24]:
df_provincias

              provincia
0          Buenos Aires
1       Capital Federal
2             Catamarca
3                 Chaco
4                Chubut
5            Corrientes
6               Córdoba
7            Entre Ríos
8               Formosa
9                 Jujuy
10             La Pampa
11             La Rioja
12              Mendoza
13             Misiones
14              Neuquén
15            Río Negro
16                Salta
17             San Juan
18             San Luis
19           Santa Cruz
20             Santa Fe
21  Santiago Del Estero
22     Tierra Del Fuego
23              Tucumán

In [25]:

# Guardar el dataframe en un archivo CSV
df_provincias.to_csv('../CSV_Cleaned/df_provincias.csv', mode='w', index=True)